{% extends "layout.html" %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
    <div class="main" id='m'>
      <div class="container row mt-5 p-0 mx-auto">
        <div class="left-area col-md-8 p-3">
          <!-- <div class="property-img shadow">
            <img class="img-fluid rounded" src="hostel3.jpeg" alt="">
          </div> -->

          <div id="carouselExampleIndicators" class="carousel slide w-100 border rounded" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active property-img" style ="background: url('hsotel.jpg'); background-size: cover;">
                <!-- <img src="hostel3.jpeg" class="d-block w-100" alt="..."> -->
              </div>
              <div class="carousel-item property-img" style ="background: url('flat.jpg'); background-size: cover;">
                <!-- <img src="room.svg" class="d-block w-100" alt="..."> -->
              </div>
              <div class="carousel-item property-img" style ="background: url('hsotel.jpg'); background-size: cover;">
                <!-- <img src="hsotel.jpg" class="d-block w-100" alt="..."> -->
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="property-tab border rounded pt-3 mt-4 d-none d-lg-block">
            <div class="d-flex">
              <a class = 'd-block mx-auto nav-link pb-0 active' href="#">
                <div class="mx-auto p-tab-item px-1" onclick = "active(0)">
                  Overview
                </div>
              </a>
              <a class = 'd-block mx-auto nav-link pb-0' href="#">
                <div class="mx-auto p-tab-item px-1">
                  Pricing
                </div>
              </a>
              <a class = 'd-block mx-auto nav-link pb-0' href="#"><div class="mx-auto p-tab-item px-1 py-1">
                Reviews
              </div>
            </a>
              <a class = 'd-block mx-auto nav-link pb-0' href="#">
                <div class="mx-auto p-tab-item px-1">
                  Map
                </div>
              </a>
              <a class = 'd-block mx-auto nav-link pb-0' href="#p-sum">
                <div class="mx-auto p-tab-item px-1">
                  Bookings
                </div>
              </a>
            </div>
          </div>

          <div class="container rounded border shadow mt-2 pb-2">
            <h4 class = 'mt-1'>Overview</h4>
            <hr class = 'container p-0'>
            <div class="">
              <p class = 'font-weight-bold m-0'>Single Room available for rent</p>
              <p class = 'm-0'> <i class = 'fas fa-map-marker-alt'></i> Satdobato, Lalitpur</p>
              <p class = 'm-0'><i class = 'fas fa-phone-volume'></i> 9811472945</p>
              <p class = 'm-0'><i class = 'fas fa-user'></i> Manroam Baudel</p>
              <p class = 'm-0'><i class = 'fas fa-envelope'></i> baudelmanoram123@gmail.com</p>
              <div class="features">

                <div class="property-description">
                  <p class = 'mt-3'>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed dolar aemet.
                  </p>
                </div>

                <h5 class = 'mt-3'>Features</h5>
                <ul class = 'list-unstyled'>
                  <li><i class = 'fas fa-check-circle text-success'></i> Internet</li>
                  <li><i class = 'fas fa-check-circle text-success'></i> Bathroom (Shared)</li>
                  <li><i class = 'fas fa-check-circle text-success'></i> Water 24/7</li>
                  <li><i class = 'fas fa-check-circle text-success'></i> Parking</li>

                </ul>
              </div>
            </div>
            <hr class = 'container p-0'>

            <h5>Property Rules</h5>
            <p>Lorem ipsum dolor sit amet,
              consectetur adipisicing elit, sed
               do eiusmod tempor incididunt ut
               labore et dolore magna aliqua.
            </p>
            <hr class = 'container p-0'>
            <h5>About The Owner</h5>
            <div class="d-flex">
              <div class="owner-profile rounded-circle" style = "background: url('mano.jpg'); background-size: cover"></div>
              <div class="owner-info mx-3">
                <p class = 'm-0'>Manoram <span class = 'text-primary'>Baudel</span> </p>
                <p class = 'm-0'>Status: Offline</p>
                <p class = 'm-0'>Verified: Yes</p>
                <p class = 'm-0'>Response: Within 15 Minutes</p>
                <p class = 'm-0'>Listed Since 2021</p>
                <a class = 'btn btn-outline-primary btn-sm' href="#">See more listings</a>
              </div>
            </div>
            <hr class = 'container p-0'>

          </div>

          <div class="container border rounded shadow mt-4 py-3">
            <h4 class = ''>Pricing</h4>
            <hr class = 'container p-0 mt-0'>
            <div class="d-flex">
              <div class="price-tab-item mx-auto">
                <p class = 'm-0 text-center'> <i class = 'fas fa-money-bill-alt text-success'></i> </p>
                <p class = 'm-0 font-weight-bold text-center'>Monthly Paid: </p>
                <p class = 'm-0 text-center'>Rs. 4,000/-</p>
              </div>
              <div class="price-tab-item mx-auto">
                <p class = 'm-0 text-center'> <i class = 'fas fa-hand-holding-usd'></i> </p>
                <p class = 'm-0 font-weight-bold text-center'>Negotiable: </p>
                <p class = 'm-0 text-center'>No</p>
              </div>
            </div>
          </div>


          <div class="container border shadow py-3 mt-4">
            <h4>Reviews</h4>
            <hr class = 'container p-0'>
            <button class= 'btn btn-sm btn-outline-dark' type="button" name="button">Write a review</button>
            <hr class ='container p-0'>
            <div class="container d-flex py-3">
              <div class="commenter">
                <div class="commenter-image rounded-circle mx-auto" style = "background: url('sami.jpg'); background-size: cover;"></div>
                <p class = 'text-center'>Samishan Thapa</p>
              </div>
              <div class="comment px-3 rounded mx-3 py-3">
                <div class="ratings d-flex text-warning">
                  <i class = 'fas fa-star'></i>
                  <i class = 'fas fa-star'></i>
                  <i class = 'fas fa-star'></i>
                  <i class = 'fas fa-star'></i>
                </div>
                <p class = 'text-info mt-1 mb-0 r-date'>June 26, 2021</p>
                <p class = 'm-0'>
                  One of the finest single room to stay for
                  students like me. People around and the owner seems very freindly and helpful.
                  One thing I did not like was that I had to share
                  the bathroom.
                </p>

                <div class="d-flex p-0 mt-2 bg-light rounded">
                  <button class="btn btn-sm text-info" type="button" name="button"> <span> <i class = 'far fa-heart'></i> </span>Like</button>
                  <button class="btn btn-sm text-info" type="button" name="button"> <span> <i class = 'fas fa-reply-all'></i> </span>Reply</button>
                </div>
              </div>
            </div>
            <hr class ='container p-0'>

            <div class="container d-flex py-3">
              <div class="commenter">
                <div class="commenter-image rounded-circle mx-auto" style = "background: url('goku.jpg'); background-size: cover;"></div>
                <p class = 'text-center'>Gokarna Adhikari</p>
              </div>
              <div class="comment px-3 rounded mx-3 py-3">
                <div class="ratings d-flex text-warning">
                  <i class = 'fas fa-star'></i>
                  <i class = 'fas fa-star'></i>
                </div>
                <p class = 'text-info mt-1 mb-0 r-date'>August 12, 2018</p>
                <p class = 'm-0'>
                  Nice and clean room but bathroom should be well managed.
                </p>
                <div class="d-flex p-0 mt-2 bg-light rounded">
                  <button class="btn btn-sm text-info" type="button" name="button"> <span> <i class = 'far fa-heart'></i> </span>Like</button>
                  <button class="btn btn-sm text-info" type="button" name="button"> <span> <i class = 'fas fa-reply-all'></i> </span>Reply</button>
                </div>
              </div>
            </div>
            <hr class ='container p-0'>


          </div>

          <div class="container border rouded shadow mt-4 p-0">
            <div class="p-0" id='map'>

            </div>
          </div>


        </div>
        <div class="col-md-4 ml-auto s-card">
          <div class="activity border rounded mt-3" id = 'p-sum'>
            <div class="container py-3">
              <h5>Property Summary</h5>
              <p class ="text-sm m-0">Single Room</p>
              <p class ="text-sm m-0">1 Room</p>
              <hr class = 'm-1'>
              <p class ="text-sm px-3 m-0 d-flex">Kitchen <span class="d-block ml-auto mx-5">No</span></p>
              <hr class = 'm-1'>
              <p class ="text-sm px-3 m-0 d-flex">Parking <span class="d-block ml-auto mx-5">Yes</span></p>
              <hr class = 'm-1'>
              <p class ="text-sm px-3 m-0 d-flex">Water <span class="d-block ml-auto mx-5">No</span></p>
              <hr class = 'm-1 mb-2'>
              <p class ="text-sm px-3 m-0 d-flex">Bathroom <span class="d-block ml-auto mx-5">Yes (Shared)</span></p>
              <hr class = 'm-1 mb-2'>
              <div class="price">
                <p class = 'm-0'>From</p>
                <h6>NPR 4,000/month</h6>
              </div>

              <div class="jumbotron py-2 booking rounded">
                <form class="booking-form" action="index.html" method="post">
                  <p class ='m-0'>Living Duration</p>
                  <div class="container d-flex mx-auto p-0">
                    <input id='due' class = 'form-control form-control-sm' type="number" name="" value="" placeholder="">
                    <p class = 'mt-1 mx-2'>Months</p>
                  </div>
                  <p class ='m-0'>People</p>
                  <div class="d-flex">
                    <input id='due' class = 'form-control form-control-sm' type="number" name="" value="" placeholder="">
                    <p class = 'mt-1 mx-2'>Adults</p>
                    <input id='due' class = 'form-control form-control-sm' type="number" name="" value="" placeholder="">
                    <p class = 'mt-1 mx-2'>Child</p>
                  </div>
                  <p>Total Guests: </p>
                  <button class = 'btn btn-outline-primary my-2 btn-sm btn-block' type="button" name="button">Book Now</button>
                </form>
              </div>
              <button class = 'btn btn-outline-success btn-sm btn-block' type="button" name="button">Talk To Owner</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQR0S44XL7N7c1tGrXW92_MLzg7fLf5jw&callback=initMap&libraries=&v=weekly" async></script>
{% include "footer.html" %}
{% endblock %}