{% extends "layout.html" %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}
<style type="text/css">
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>
<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    const uluru = { lat: {{hostel.lat}}, lng: {{hostel.lon}} };
    // The map, centered at Uluru
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 15,
      center: uluru,
    });
    // The marker, positioned at Uluru
    const marker = new google.maps.Marker({
      position: uluru,
      title: "Manoram",
      map: map,
    });
  }
</script>
<div class="main" id='m' style='color: #666666;'>
  <div class="container row mt-5 p-0 mx-auto">
    <div class="left-area col-md-8 p-3">
      <!-- <div class="property-img shadow">
            <img class="img-fluid rounded" src="hostel3.jpeg" alt="">
          </div> -->

      <div id="carouselExampleIndicators" class="carousel slide w-100 border rounded" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          {% if hostel.image2 %}
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          {% endif %}
          {% if hostel.image3 %}
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          {% endif %}
          {% if hostel.image4 %}
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          {% endif %}
          {% if hostel.image5 %}
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          {% endif %}
          {% if hostel.image6 %}
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          {% endif %}
        </ol>
        <div class="carousel-inner">
          {% if hostel.image1 %}
          <div class="carousel-item active property-img" style="background: url('/{{hostel.image1}}'); background-size: cover;"></div>
          {% endif %}
          {% if hostel.image2 %}
          <div class="carousel-item property-img" style="background: url('/{{hostel.image2}}'); background-size: cover;"></div>
          {% endif %}
          {% if hostel.image3 %}
          <div class="carousel-item property-img" style="background: url('/{{hostel.image3}}'); background-size: cover;"></div>
          {% endif %}
          {% if hostel.image4 %}
          <div class="carousel-item property-img" style="background: url('/{{hostel.image4}}'); background-size: cover;"></div>
          {% endif %}
          {% if hostel.image5 %}
          <div class="carousel-item property-img" style="background: url('/{{hostel.image5}}'); background-size: cover;"></div>
          {% endif %}
          {% if hostel.image6 %}
          <div class="carousel-item property-img" style="background: url('/{{hostel.image6}}'); background-size: cover;"></div>
          {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="property-tab border rounded pt-3 mt-4 d-none d-lg-block">
        <div class="d-flex">
          <a class='d-block mx-auto nav-link pb-0 active' href="#">
            <div class="mx-auto p-tab-item px-1" onclick="active(0)">
              Overview
            </div>
          </a>
          <a class='d-block mx-auto nav-link pb-0' href="#">
            <div class="mx-auto p-tab-item px-1">
              Pricing
            </div>
          </a>
          <a class='d-block mx-auto nav-link pb-0' href="#">
            <div class="mx-auto p-tab-item px-1">
              Reviews
            </div>
          </a>
          <a class='d-block mx-auto nav-link pb-0' href="#">
            <div class="mx-auto p-tab-item px-1">
              Map
            </div>
          </a>
          <a class='d-block mx-auto nav-link pb-0' href="#p-sum">
            <div class="mx-auto p-tab-item px-1">
              Bookings
            </div>
          </a>
        </div>
      </div>

      <div class="container rounded border shadow mt-2 pb-2">
        <h4 class='mt-1'>Overview</h4>
        <hr class='container p-0'>
        <div class="">
          <h5 class='font-weight-bold m-0'>{{hostel.title}}</h5>
          <p class='m-0'> <i class='fas fa-map-marker-alt mr-1'></i>{{hostel.address}}</p>
          <p class='m-0'><i class='fas fa-phone mr-1'></i> {{hostel.user.profile.phone}}</p>
          <p class='m-0'><i class='fas fa-user mr-1'></i>{{hostel.user.first_name}}</p>
          <p class='m-0'><i class='fas fa-envelope mr-1'></i>{{hostel.user.email}}</p>
          <div class="featur">

            <div class="property-description">
              <p class='mt-3'>
                {{hostel.description|linebreaks}}
              </p>
            </div>

            <h5 class='mt-3'>Features</h5>
            <ul class='list-unstyled row'>
              {% if hostel.services.internet %}
              <li class='col-md-4 my-1'><i class='fas fa-wifi text-success mx-2'></i> Internet</li>
              {% endif %}

              {% if hostel.services.breakfast %}
              <li class='col-md-4 my-1'><i class='fas fa-utensils text-success mx-2'></i> Breakfast</li>
              {% endif %}

              {% if hostel.services.gym %}
              <li class='col-md-4 my-1'><i class='fas fa-dumbbell text-success mx-2'></i> Gym</li>
              {% endif %}

              {% if hostel.services.parking %}
              <li class='col-md-4 my-1'><i class='fas fa-car text-success mx-2'></i> Parking</li>
              {% endif %}

              {% if hostel.services.geyser %}
              <li class='col-md-4 my-1'><i class='fas fa-shower text-success mx-2'></i>Geyser Shower</li>
              {% endif %}

              {% if hostel.services.laundry %}
              <li class='col-md-4 my-1'><i class='fas fa-tshirt text-success mx-2'></i>Laundry</li>
              {% endif %}
            </ul>
            <p class='mx-2 font-weight-bold'>Additional Features</p>
            {% if hostel.services.additional_s %}
            <div class='px-2 extra-features'>
              {{hostel.services.additional_s|linebreaks }}
            </div>
            {% endif %}

          </div>
        </div>
        <hr class='container p-0'>

        <h5>Property Rules</h5>
        <ul class='list-unstyled row'>
          {% if hostel.rules.cat_friendly %}
          <li class='col-md-4 my-1'><i class='fas fa-cat text-success mx-2'></i> Cat Friendly</li>
          {% endif %}

          {% if hostel.rules.dog_friendly %}
          <li class='col-md-4 my-1'><i class='fas fa-dog text-success mx-2'></i> Dog Friendly</li>
          {% endif %}
        </ul>

        {% if hostel.rules.additional_r %}
        <div class='m-0 px-2 mt-3'>{{hostel.rules.additional_r|linebreaks}}</div>
        {% endif %}
        <hr class='container p-0'>
        <h5>About The Owner</h5>
        <div class="d-flex">
          <div class="owner-profile rounded-circle" style="background: url('/{{hostel.user.profile.image}}'); background-size: cover"></div>
          <div class="owner-info mx-3">
            <p class='m-0'>{{hostel.user.first_name}}</p>
            {% if hostel.user.is_active %}
            <p class='m-0'>Status: Online</p>
            {% else %}
            <p class='m-0'>Status: Offline</p>
            {% endif %}
            {% if hostel.user.profile.verified %}
            <p class='m-0'>Verified: Yes</p>
            {% else %}
            <p class='m-0'>Verified: No</p>
            {% endif %}
            <p class='m-0'>Response: Within 15 Minutes</p>
            <p class='m-0'>Listed Since 2021</p>
            <a class='btn btn-outline-primary btn-sm' href="#">See more listings</a>
          </div>
        </div>
        <hr class='container p-0'>

      </div>

      <div class="container border rounded shadow mt-4 py-3">
        <h4 class=''>Pricing</h4>
        <hr class='container p-0 mt-0'>
        <div class="d-flex">
          <div class="price-tab-item mx-auto">
            <p class='m-0 text-center'> <i class='fas fa-money-bill-alt text-success'></i> </p>
            <p class='m-0 font-weight-bold text-center'>Monthly Paid: </p>
            <p class='m-0 text-center'>Rs. {{hostel.price}}/-</p>
          </div>
          <div class="price-tab-item mx-auto">
            <p class='m-0 text-center'> <i class='fas fa-hand-holding-usd'></i> </p>
            <p class='m-0 font-weight-bold text-center'>Negotiable: </p>
            <p class='m-0 text-center'>No</p>
          </div>
        </div>
      </div>


      <div class="container border rounded shadow py-3 mt-4">
        <h4>Reviews</h4>

        <hr class='container p-0'>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
          Write a review
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content px-3">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Write a review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id='review-form' action="/hostels/review/{{hostel.id}}" method="POST">
                  {% csrf_token %}
                  <div class='ratings-stars'>
                    <input required class='star-input' id="star1" type="radio" name='rate' value='1'><label for="star1"><i class='fas fa-star stars'></i></label>
                    <input required class='star-input' id="star2" type="radio" name='rate' value='2'><label for="star2"><i class='fas fa-star stars'></i></label>
                    <input required class='star-input' id="star3" type="radio" name='rate' value='3'><label for="star3"><i class='fas fa-star stars'></i></label>
                    <input required class='star-input' id="star4" type="radio" name='rate' value='4'><label for="star4"><i class='fas fa-star stars'></i></label>
                    <input required class='star-input' id="star5" type="radio" name='rate' value='5'><label for="star5"><i class='fas fa-star stars'></i></label>
                  </div>
                  <textarea form="review-form" class='form-control' name="review" rows="5" placeholder="Write a review..."></textarea>
                  <button type="submit" class="btn btn-primary btn-sm my-2">Post</button>
                </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>


        <!-- Comments and Replies -->
        {% if comments %}
        {% for c,r in comments.items %}
        <div class="container d-flex py-3">
          <div class="commenter">
            <div class="commenter-image rounded-circle mx-auto" style="background: url('/{{c.user.profile.image}}'); background-size: cover;"></div>
            <p class='text-center'>{{c.user.first_name}}</p>
          </div>
          <div class="comment px-3 rounded mx-3 py-3">
            <div class="ratings d-flex text-warning">
              {% if c.ratings == 5 %}
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              {% endif %}
              {% if c.ratings == 4 %}
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='far fa-star'></i>
              {% endif %}
              {% if c.ratings == 3 %}
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='far fa-star'></i>
              <i class='far fa-star'></i>
              {% endif %}
              {% if c.ratings == 2 %}
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='far fa-star'></i>
              <i class='far fa-star'></i>
              <i class='far fa-star'></i>
              {% endif %}
              {% if c.ratings == 1 %}
              <i class='fas fa-star'></i>
              <i class='far fa-star'></i>
              <i class='far fa-star'></i>
              <i class='far fa-star'></i>
              <i class='far fa-star'></i>              
              {% endif %}
            </div>
            <p class='text-info mt-1 mb-0 r-date'>{{c.date}}</p>
            <p class='m-0'>
              {{c.comment}}
            </p>
            <div class="d-flex p-0 mt-2 bg-light rounded">
              <!-- <form id = 'like' action="" method = "POST">
                {% csrf_token %}
                <button class="btn btn-sm text-info" type="submit" name="button"> <span> <i class='far fa-heart'></i> </span>{{r.likes}}</button>
              </form> -->
              <!-- <button class="btn btn-sm text-info" type="button" name="button"> <span> <i class='fas fa-reply-all'></i> </span>Reply</button> -->
            </div>
            {% for rep in r %}
            <div class = 'reply'>
                <div class ='bg-light rounded py-2 my-2 mt-2 px-3'>
                  <div class = 'd-flex'>
                    <div class ='reply-image rounded-circle' style="background: url('/{{rep.user.profile.image}}'); background-size: cover;"></div>
                    <div class = 'd-block'>
                      <small class = 'mx-2 d-block'>{{rep.user.first_name}} <br><small>{{rep.date}}</small></small>
                      <p class = 'm-0 mx-2'>{{rep.reply}}</p>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}

            <form action="/hostels/reply/{{c.id}}" id ='reply' method="POST">
              {% csrf_token %}
              <div class = 'd-flex'>
                <input type="text" name = 'repl' class ='form-control mt-2 mr-2' >
                <button class = 'btn btn-sm p-0 btn-outline-info mt-2 px-3' type="submit">Reply</button>
              </div>
            </form>
          </div>
        </div>
        {% endfor %}
        <!-- Comments and Replies -->

        <hr class='container p-0'>
        {% else %}
        <p class='d-block text-center my-4 py-5'>No reviews yet ;(</p>
        {% endif %}
      </div>

      <script>
        // Post Comment
        $(document).on("submit", "#review-form", function (e) {
          e.preventDefault();
          $.ajax({
            type: 'POST',
            url: '/hostels/review/{{hostel.id}}',
            data: $('#review-form').serialize(),
            success: function (response) {
              console.log(response.message)
              $('.message-alert').removeClass('alert-danger');
              $('.message-alert').addClass('alert-success');
              $('#alert-message').html("Posted Successfully!");
              $('.message-alert').css("display", "block");
              $('.message-alert').removeClass('alert-hide');
              $('.message-alert').addClass('alert-show');
              setTimeout(function () {
                $('.message-alert').addClass('alert-hide');
                $('.message-alert').removeClass('alert-show');
              }, 5000) //alert fadeOut
            },
            error: function (e) {
              alert("error")
            }
          })
        })
      </script>

      <div class="container border rouded shadow mt-4 p-0">
        <div class="p-0" id='map'>

        </div>
      </div>
    </div>

    <div class="col-md-4 ml-auto s-card">
      <div class="activity shadow rounded mt-3" id='p-sum'>
        <div class="container py-3">
          <h5>Property Summary</h5>
          <p class="text-sm m-0">{{hostel.title}}</p>
          <small class='d-block mb-4'>
            <small class=''><i class='fas fa-circle text-success' style='font-size: .6em;'></i> Single Sitter</small>
            <small class='mx-2'><i class='fas fa-circle text-success' style='font-size: .6em;'></i> Two Sitter</small>
            <small class='mx-2'><i class='fas fa-circle text-success' style='font-size: .6em;'></i> Three Sitter</small>
          </small>
          <hr class='m-1'>
          {% if hostel.services.internet %}
          <p class="text-sm px-3 m-0 d-flex">Internet <span class="d-block ml-auto mx-5"><i class='fas fa-check-circle text-success'></i></span></p>
          {% else %}
          <p class="text-sm px-3 m-0 d-flex">Internet <span class="d-block ml-auto mx-5"><i class='fas fa-times-circle text-danger'></i></span></p>
          {% endif %}
          <hr class='m-1 mb-2'>
          {% if hostel.services.breakfast %}
          <p class="text-sm px-3 m-0 d-flex">Breakfast <span class="d-block ml-auto mx-5"><i class='fas fa-check-circle text-success'></i></span></p>
          {% else %}
          <p class="text-sm px-3 m-0 d-flex">Breakfast <span class="d-block ml-auto mx-5"><i class='fas fa-times-circle text-danger'></i></span></p>
          {% endif %}
          <hr class='m-1 mb-2'>
          {% if hostel.services.gym %}
          <p class="text-sm px-3 m-0 d-flex">Gym <span class="d-block ml-auto mx-5"><i class='fas fa-check-circle text-success'></i></span></p>
          {% else %}
          <p class="text-sm px-3 m-0 d-flex">Gym <span class="d-block ml-auto mx-5"><i class='fas fa-times-circle text-danger'></i></span></p>
          {% endif %}
          <hr class='m-1 mb-2'>
          {% if hostel.services.parking %}
          <p class="text-sm px-3 m-0 d-flex">Parking <span class="d-block ml-auto mx-5"><i class='fas fa-check-circle text-success'></i></span></p>
          {% else %}
          <p class="text-sm px-3 m-0 d-flex">Parking <span class="d-block ml-auto mx-5"><i class='fas fa-times-circle text-danger'></i></span></p>
          {% endif %}
          <hr class='m-1 mb-2'>
          {% if hostel.services.geyser %}
          <p class="text-sm px-3 m-0 d-flex">Water Geyser <span class="d-block ml-auto mx-5"><i class='fas fa-check-circle text-success'></i></span></p>
          {% else %}
          <p class="text-sm px-3 m-0 d-flex">Water Geyser <span class="d-block ml-auto mx-5"><i class='fas fa-times-circle text-danger'></i></span></p>
          {% endif %}
          <hr class='m-1 mb-2'>
          {% if hostel.services.geyser %}
          <p class="text-sm px-3 m-0 d-flex">Laundry <span class="d-block ml-auto mx-5"><i class='fas fa-check-circle text-success'></i></span></p>
          {% else %}
          <p class="text-sm px-3 m-0 d-flex">Laundry <span class="d-block ml-auto mx-5"><i class='fas fa-times-circle text-danger'></i></span></p>
          {% endif %}
          <hr class='m-1'>
          <div class="price">
            <p class='m-0'>From</p>
            <h6>Rs. {{hostel.price}}/month</h6>
          </div>

          <div class="jumbotron py-2 booking rounded">
            <form class="booking-form" action="index.html" method="post">
              <p class='m-0'>Living Duration</p>
              <div class="container d-flex mx-auto p-0">
                <input id='due' class='form-control form-control-sm' type="number" name="" value="" placeholder="">
                <p class='mt-1 mx-2'>Months</p>
              </div>
              <p class='m-0'>People</p>
              <div class="d-flex">
                <input id='due' class='form-control form-control-sm' type="number" name="" value="" placeholder="">
                <p class='mt-1 mx-2'>Adults</p>
                <input id='due' class='form-control form-control-sm' type="number" name="" value="" placeholder="">
                <p class='mt-1 mx-2'>Child</p>
              </div>
              <p>Total Guests: </p>
              <button class='btn btn-outline-primary my-2 btn-sm btn-block' type="button" name="button">Book Now</button>
            </form>
          </div>
          <div class='px-3'>
            <a href='/user/chat/{{hostel.id}}/{{hostel.user.id}}' class='btn btn-outline-success btn-sm btn-block' type="button" name="button">Talk To Owner</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQR0S44XL7N7c1tGrXW92_MLzg7fLf5jw&callback=initMap&libraries=&v=weekly" async></script>
{% include 'footer.html' %}
{% endblock %}