.features {
  font-size: 1em;
}

.hostel-image {
  height: 25ch;
  width: 38ch;
}

/* .extra-features::nth-line {
  background-color: #42c433;
} */

.commenter-image {
  height: 5ch;
  width: 5ch;
}

.reply-image {
  height: 3ch;
  width: 3ch;
}
