* {
  font-family: poppins;
}

html {
  scroll-behavior: smooth;
}

.main {
  background: #fcfcfc;
}

.header {
}

.logo {
  height: 8vh;
  border: 2px solid;
  padding-left: 1em;
  padding-right: 1em;
}

.logo .icon {
  font-size: 1.5em;
  color: #ffa73b;
}

.logo .title {
  font-size: 1.5em;
}

.logo .split {
  height: 1.4rem;
  width: 0.2rem;
}

.logo .title span {
  color: #ffa73b;
  font-weight: lighter;
}

nav .fa-bars {
  outline: none;
  border: none;
  background: none;
}

.landing {
  height: 95vh;
}

.slide1 {
  width: 60vh;
  height: 35vh;
  overflow: scroll;
}

.slide1::-webkit-scrollbar {
  display: none;
}

.people label {
  background: #fcfcfc;
  width: 35%;
  height: 100%;
}

.property-link {
  height: 40ch;
  width: 52ch;
  text-decoration: none;
  color: #8b8b8b;
}

.property-link:hover {
  text-decoration: none;
}

.box-card {
  height: 100%;
  width: 100%;
  /* border-radius: .5em; */
  /* border: .2em solid #ffab4a; */
}

.box-image {
  height: 55%;
  width: 26ch;
  transition: all 1s;
  border-radius: 4px 4px 0 0;
}

.search-icons {
  width: 3em;
  border-radius: 0.3em 0 0 0.3em;
  padding-top: 0.4em;
}

.search input {
  background: none;
  outline: none;
  border: none;
}

.form-control:focus {
  border-color: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.left-rounded {
  border-radius: 0.3em 0 0 0.3em;
}

.right-rounded {
  border-radius: 0 0.3em 0.3em 0;
}

.search-box {
  border: 2px solid #247fff;
}

.scroll-box {
  width: 100%;
  height: 50ch;
  overflow-x: scroll;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.discover {
  height: 100%;
  filter: brightness(0.5);
  transition: 0.4s;
}

.browse-more {
  position: relative;
  bottom: 18vh;
  border: 1px solid #247fff;
  background: #fcfcfc;
}

.discover-quote {
  position: relative;
  bottom: 35ch;
}

.text-1 {
  font-size: 2.5em;
}

.category {
  height: 30ch;
  width: 98%;
  transition: 0.5s;
}

.category:hover {
  /* transform: translateX(10px); */
  filter: brightness(0.6);
}

.category-text {
  font-size: 1.5em;
  position: relative;
  bottom: 19.5ch;
  left: 1ch;
}

.interior {
  min-height: 70vh;
  box-shadow: inset 0 0 100px;
}

.interior p {
  width: 60%;
}

.footer {
  height: 60vh;
}

.social-links {
  font-size: 2em;
}

.activity {
  position: static;
  top: 200px;
}

.activity p {
  font-size: 0.8em;
}

#due {
  width: 6ch;
}

.activity {
  position: sticky;
  top: 0;
}

.active {
  border-bottom: 2px solid;
}

.property-tab {
  background: #f0f0f0;
}

.property-img {
  height: 70vh;
}

.owner-profile {
  height: 10vh;
  width: 10vh;
}

.left-area p {
  font-size: 0.9em;
}

.price-tab-item i {
  font-size: 3em;
}

.commenter-image {
  height: 10vh;
  width: 10vh;
}

.commenter p {
  font-size: 0.7em;
}

.comment {
  background: #f0f0f0;
  width: 80vh;
}

.ratings i {
  font-size: 0.6em;
}

.comment .r-date {
  font-size: 0.7em;
}

.e-featr {
  width: 15vh;
  height: 4vh;
  border: none;
  outline: none;
}

.small-text {
  font-size: 0.8em;
}

.message-alert {
  display: none;
  width: 40vh;
  position: fixed;
  top: 12vh;
  right: 0;
  z-index: 999;
}

.message-alert.alert-show {
  animation: slide_anim 1s ease forwards;
}

@keyframes slide_anim {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

.message-alert.alert-hide {
  animation: slide_hide 1s ease forwards;
}

@keyframes slide_hide {
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}

.news-image {
  height: 12vh;
  width: 12vh;
}

.news-text {
  font-size: 0.9em;
  color: #dedede;
}

.footer-text {
  font-size: 0.9em;
  color: #dedede;
}

.small {
  font-size: 0.6em;
}

/* Rating Modal Design */
.stars {
  color: #a8a8a8;
}
