{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}
    <div class="d-flex">
      <div class="navigate-wrapper">
        <div id = 'navigate' class="navigation bg-light border px-2">
          <div class="profile d-flex mt-4">
            <div class="profile-image rounded-circle" style = "background:url('/{{request.user.profile.image}}'); background-size:cover"></div>
            <p class='my-0 px-3'>Manoram <br><span class= 'text-primary'>Baudel</span></p>
          </div>
          <hr class=''>
          <div class="interactions my-auto">
            <div class="space"></div>
            <ul class = 'list-unstyled'>
              <li class = 'py-2 my-3 int-item int-item-active'><a class ='nav-link text-secondary p-0' href = 'dashboard.html'><i class="fas fa-clipboard mx-2 i-icon"></i><span class = 'mx-4'>Overview</span></a></li>
              <li class = 'py-2 my-3 int-item'><a class ='nav-link text-secondary p-0' href = '/user/profile/'><i class="fas fa-user mx-2 i-icon"></i><span class = 'mx-4'>Profile</span></a></li>
              <li class = 'py-2 my-3 int-item'><a class ='nav-link text-secondary p-0' href = 'listings.html'><i class="fas fa-list-alt mx-2 i-icon"></i><span class = 'mx-4'>My Listings</span></a></li>
              <li class = 'py-2 my-3 int-item'><a class ='nav-link text-secondary p-0' href = ''><i class="fas fa-home mx-2 i-icon"></i><span class = 'mx-4'>Rentals</span></a></li>
              <li class = 'py-2 my-3 int-item'><a class ='nav-link text-secondary p-0' href = ''><i class="fas fa-comment-alt mx-2 i-icon"></i><span class = 'mx-4'>Inbox</span></a></li>
              <li class = 'py-2 my-3 int-item'><a class ='nav-link text-secondary p-0' href = ''><i class="fas fa-cog mx-2 i-icon"></i><span class = 'mx-4'>Settings</span></a></li>
            </ul>
          </div>
          <hr>
          <div class="space my-5 py-4"></div>
        </div>
      </div>
    <div class="content container-fluid p-0 mx-auto row">
      <h4 class = 'mt-4 mx-4'>Welcome!👋</h4>
      <!-- category -->
      <div class="container-fluid row ml-0 service-option row py-4">
        <div class="col-md-4 my-4">
          <div class="categor rounded shadow pt-2 mx-auto" style="background: url('{% static 'static_images/hostel.jpg' %}');background-position: center; background-size: cover; background-repeat: no-repeat;">

          </div>
          <p class='mx-4 categor-text mt-2'>Find Hostel</p>
        </div>
        <div class="col-md-4 my-4">
          <div class="categor rounded shadow pt-2 mx-auto" style="background: url('{% static 'static_images/room.svg' %}');background-position: center; background-size: cover; background-repeat: no-repeat;">

          </div>
          <p class='mx-4 categor-text mt-2'>Find Room</p>

        </div>
        <div class="col-md-4 my-4">
          <div class="categor rounded shadow pt-2 mx-auto" style="background: url('{% static 'static_images/hotel.jpg' %}');background-position: center; background-size: cover; background-repeat: no-repeat;">

          </div>
          <p class='mx-4 categor-text mt-2'>Book a hotel</p>

        </div>
      </div>
      <!-- category -->
      <div class="container-fluid mx-auto row">
        <div class="col-md-8 px-5">
          <div class="user-activity my-4">
            <div class="d-flex">
              <h5 class = 'mx-4 my-2'>Your Activity</h5><span class = 'py-2'><i class='fas fa-chart-line'></i></span>
            </div>
            {% if activity %}
            {% for a in activity %}
            <div class="activity-card my-3 py-4 mx-auto row container bg-light border rounded">
              <div class="prop-img rounded col-md-4 col-sm-4 mx-auto" style="background: url('/{{a.activity.image1}}');background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
              <div class="prop-info text-secondary col-md-8 col-sm-8">
                <p class = 'prop-title mx-md-0 mx-auto m-0'>{{a.activity.title}}</p>
                <small class='m-0 d-block prop-type'><i class="fas fa-ad text-dark mx-1"></i>{{a.property_type}}</small>
                <small class='m-0 d-block'>From Rs. {{a.activity.price}}</small>
                <small class='m-0 d-block'>Listed on {{a.date}}</small>
                {% if not availability %}
                <small class='m-0 d-block status'><i class="fas fa-circle text-success mx-1"></i>Available</small>
                {% else %}
                <small class='m-0 d-block status'><i class="fas fa-check-square text-success mx-1"></i>Full</small>
                {% endif %}
                <button class = 'btn btn-secondary btn-sm my-1' type="button" name="button">Edit <i class='fas fa-pen'></i> </button>
                <button class = 'btn btn-info btn-sm my-1' type="button" name="button">View <i class='fas fa-eye'></i> </button>
                <button class = 'btn btn-danger btn-sm' type="button" name="button">Remove <i class='fas fa-trash'></i> </button>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <p class = 'text-muted d-block text-center mt-5 pt-5 mb-5 pb-5'>There is nothing to show here ;(</p>
            {% endif %}

            

            <!-- <div class="activity-card my-3 py-4 mx-auto row container bg-light border rounded">
              <div class="prop-img rounded col-md-4 col-sm-4 mx-auto" style="background: url('room.svg');background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
              <div class="prop-info text-secondary col-md-8 col-sm-8">
                <p class = 'prop-title mx-md-0 mx-auto m-0'>Single Room for Rent- 1 Room- Internet- Attached Bathroom </p>
                <small class='m-0 d-block prop-type'><i class="fas fa-ad text-dark mx-1"></i>Room</small>
                <small class='m-0 d-block'>From Rs. 4,000</small>
                <small class='m-0 d-block'>Rented on 15 Apr, 2021</small>
                <small class='m-0 d-block status'><i class="fas fa-check-square text-success mx-1"></i>Rented</small>
                <button class = 'btn btn-primary btn-sm my-1' type="button" name="button">Give Review <i class='fas fa-smile'></i> </button>
                <button class = 'btn btn-info btn-sm my-1' type="button" name="button">View <i class='fas fa-eye'></i> </button>
                <button class = 'btn btn-danger btn-sm' type="button" name="button">Remove <i class='fas fa-trash'></i> </button>
              </div>
            </div>

            <div class="activity-card my-3 py-4 mx-auto row container bg-light border rounded">
              <div class="prop-img rounded col-md-4 col-sm-4 mx-auto" style="background: url('hostel.jpg');background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
              <div class="prop-info text-secondary col-md-8 col-sm-8">
                <p class = 'prop-title mx-md-0 mx-auto m-0'>Hamro Boys Hostel-Double Sitter-24/7 Free Internet- Free Gym </p>
                <small class='m-0 d-block prop-type'><i class="fas fa-ad text-dark mx-1"></i>Hostel</small>
                <small class='m-0 d-block'>From Rs. 10,000</small>
                <small class='m-0 d-block'>Stayed on 27 Jul, 2021</small>
                <small class='m-0 d-block status'><i class="fas fa-circle text-success mx-1"></i>Available</small>
                <button class = 'btn btn-primary btn-sm my-1' type="button" name="button">Give Review <i class='fas fa-smile'></i> </button>
                <button class = 'btn btn-info btn-sm my-1' type="button" name="button">View <i class='fas fa-eye'></i> </button>
                <button class = 'btn btn-danger btn-sm' type="button" name="button">Remove <i class='fas fa-trash'></i> </button>
              </div>
            </div> -->
            
            
          </div>
          <hr>
        </div>
        <div class="col-md-4 px-2 py-5">
          <div class="u-profile d-none d-md-block p-2 mt-5 border rounded shadow py-3 px-4">
            <h5 class='m-0'>Your Profile</h5>
            <div class="row mt-2">
              <div class="col-3 col-xl-2">
                <div class="profile-image rounded-circle" style = "background:url('/{{request.user.profile.image}}'); background-size:cover"></div>
              </div>
              <div class="d-block col-9">
                <p class='my-0 px-3'>{{request.user.first_name}}</p>
                <small class='px-3 d-block'>1 Property Listed</small>
              </div>
            </div>
            <div class="">
              <a href = '/user/listing-options' class='btn btn-primary btn-sm mt-2 btn-block' type="button" name="button"><i class='fas fa-plus mx-2'></i>List Property</a>
              <button class='btn btn-secondary btn-sm mt-2 mb-4 btn-block' type="button" name="button"><i class='fas fa-eye mx-2'></i>View Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include 'footer.html' %}
{% endblock %}