{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}
    <div class="d-flex">
      {% include 'sidebar.html' %}
    <div class="content container-fluid p-0 mx-auto row">
      <h4 class = 'mt-4 mx-4'>Welcome!👋</h4>
      <!-- category -->
      <div class="container-fluid row ml-0 service-option row py-4">
        <div class="col-md-4 my-4">
          <a class = 'nav-link' href="/hostels/hostels">
            <div class="categor rounded shadow pt-2 mx-auto" style="background: url('{% static 'static_images/hostel.jpg' %}');background-position: center; background-size: cover; background-repeat: no-repeat;">

            </div>
            <p class='mx-4 categor-text mt-2'>Find Hostel</p>
          </a>
        </div>
        <div class="col-md-4 my-4">
          <a class = 'nav-link' href="">
            <div class="categor rounded shadow pt-2 mx-auto" style="background: url('{% static 'static_images/room.svg' %}');background-position: center; background-size: cover; background-repeat: no-repeat;">

            </div>
            <p class='mx-4 categor-text mt-2'>Find Room</p>
          </a>
        </div>
        <div class="col-md-4 my-4">
          <a class = 'nav-link' href="">
            <div class="categor rounded shadow pt-2 mx-auto" style="background: url('{% static 'static_images/hotel.jpg' %}');background-position: center; background-size: cover; background-repeat: no-repeat;">

            </div>
            <p class='mx-4 categor-text mt-2'>Book a hotel</p>
          </a>
        </div>
      </div>
      <!-- category -->
      <div class="container-fluid mx-auto row">
        <div class="col-md-8 px-5">
          <div class="user-activity my-4">
            <div class="d-flex">
              <h5 class = 'mx-4 my-2'>Your Activity</h5><span class = 'py-2'><i class='fas fa-chart-line'></i></span>
            </div>
            {% if activity %}
            {% for a in activity %}
              {% if a.activity %}
              <div class="activity-card my-3 py-4 mx-auto row container bg-light border rounded">
                <div class="prop-img rounded col-md-4 col-sm-4 mx-auto" style="background: url('/{{a.activity.image1}}');background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                <div class="prop-info text-secondary col-md-8 col-sm-8">
                  <p class = 'prop-title mx-md-0 mx-auto m-0'>{{a.activity.title}}</p>
                  <small class='m-0 d-block prop-type'><i class="fas fa-warehouse mr-2"></i>{{a.property_type}}</small>
                  <small class='m-0 d-block'>From Rs. {{a.activity.price}}</small>
                  {% if a.activity_type == "listing" %}
                  <small class='m-0 d-block'>Listed on {{a.date}}</small>
                  {% else %}
                  <small class='m-0 d-block'>Booked on {{a.date}}</small>
                  {% endif %}
                  {% if not availability %}
                  <small class='m-0 d-block status'><i class="fas fa-circle text-success mx-1"></i>Available</small>
                  {% else %}
                  <small class='m-0 d-block status'><i class="fas fa-check-square text-success mx-1"></i>Full</small>
                  {% endif %}
                  {% if a.activity_type == "listing" %}
                  <a href = '/hostels/edithostel/{{a.activity.id}}' class = 'btn btn-dark btn-sm my-1' type="button" name="button">Edit <i class='fas fa-pen'></i> </a>
                  {% endif %}
                  <a class = 'btn btn-info btn-sm my-1' href = '/hostels/details/{{a.activity.id}}' type="button" name="button">View <i class='fas fa-eye'></i> </a>
                  {% if a.activity_type == "listing" %}
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Remove
                  </button>
  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Listing</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure want to delete this listing?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                          <a href="/user/delete-hostel/{{a.activity.id}}" type="button" class="btn btn-danger btn-sm">Confirm</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <a href="" class = 'btn btn-warning btn-sm text-light' type="button" name="button">Cancel <i class='fas fa-times'></i> </a>
                  {% endif %}
                </div>
              </div>
              {% elif a.activity_home %}
              <div class="activity-card my-3 py-4 mx-auto row container bg-light border rounded">
                <div class="prop-img rounded col-md-4 col-sm-4 mx-auto" style="background: url('/{{a.activity_home.image1}}');background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                <div class="prop-info text-secondary col-md-8 col-sm-8">
                  <p class = 'prop-title mx-md-0 mx-auto m-0'>{{a.activity_home.title}}</p>
                  <small class='m-0 d-block prop-type'><i class="fas fa-warehouse mr-2"></i>{{a.property_type}}</small>
                  <small class='m-0 d-block'>From Rs. {{a.activity_home.price}}</small>
                  {% if a.activity_type == "listing" %}
                  <small class='m-0 d-block'>Listed on {{a.date}}</small>
                  {% else %}
                  <small class='m-0 d-block'>Booked on {{a.date}}</small>
                  {% endif %}
                  {% if not availability %}
                  <small class='m-0 d-block status'><i class="fas fa-circle text-success mx-1"></i>Available</small>
                  {% else %}
                  <small class='m-0 d-block status'><i class="fas fa-check-square text-success mx-1"></i>Full</small>
                  {% endif %}
                  {% if a.activity_type == "listing" %}
                  <a href = '/house/edithome/{{a.activity_home.id}}' class = 'btn btn-dark btn-sm my-1' type="button" name="button">Edit <i class='fas fa-pen'></i> </a>
                  {% endif %}
                  <a class = 'btn btn-info btn-sm my-1' href = '/house/details/{{a.activity_home.id}}' type="button" name="button">View <i class='fas fa-eye'></i> </a>
                  {% if a.activity_type == "listing" %}
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Remove
                  </button>
  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Listing</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure want to delete this listing?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                          <a href="/user/delete-home/{{a.activity_home.id}}" type="button" class="btn btn-danger btn-sm">Confirm</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <a href="" class = 'btn btn-warning btn-sm text-light' type="button" name="button">Cancel <i class='fas fa-times'></i> </a>
                  {% endif %}
                </div>
              </div>
              {% elif a.activity_hotel %}
              <div class="activity-card my-3 py-4 mx-auto row container bg-light border rounded">
                <div class="prop-img rounded col-md-4 col-sm-4 mx-auto" style="background: url('/{{a.activity_hotel.image1}}');background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                <div class="prop-info text-secondary col-md-8 col-sm-8">
                  <p class = 'prop-title mx-md-0 mx-auto m-0'>{{a.activity_hotel.title}}</p>
                  <small class='m-0 d-block prop-type'><i class="fas fa-warehouse mr-2"></i>{{a.property_type}}</small>
                  {% if a.activity_type == "listing" %}
                  <small class='m-0 d-block'>Listed on {{a.date}}</small>
                  {% else %}
                  <small class='m-0 d-block'>Booked on {{a.date}}</small>
                  {% endif %}
                  {% if not availability %}
                  <small class='m-0 d-block status'><i class="fas fa-circle text-success mx-1"></i>Available</small>
                  {% else %}
                  <small class='m-0 d-block status'><i class="fas fa-check-square text-success mx-1"></i>Full</small>
                  {% endif %}
                  {% if a.activity_type == "listing" %}
                  <a href = '/hotels/edit-hotel/{{a.activity_hotel.id}}' class = 'btn btn-dark btn-sm my-1' type="button" name="button">Edit <i class='fas fa-pen'></i> </a>
                  {% endif %}
                  <a class = 'btn btn-info btn-sm my-1' href = '/hotels/details/{{a.activity_hotel.id}}' type="button" name="button">View <i class='fas fa-eye'></i> </a>
                  {% if a.activity_type == "listing" %}
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Remove
                  </button>
  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Listing</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure want to delete this listing?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                          <a href="/user/delete-hostel/{{a.activity.id}}" type="button" class="btn btn-danger btn-sm">Confirm</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <a href="" class = 'btn btn-warning btn-sm text-light' type="button" name="button">Cancel <i class='fas fa-times'></i> </a>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            {% endfor %}
            {% else %}
            <p class = 'text-muted d-block text-center mt-5 pt-5 mb-5 pb-5'>There is nothing to show here ;(</p>
            {% endif %}            
            
          </div>
          <hr>
        </div>
        <div class="col-md-4 px-2 py-5">
          <div class="u-profile d-none d-md-block p-2 mt-5 border rounded shadow py-3 px-4">
            <h5 class='m-0'>Your Profile</h5>
            <div class="row mt-2">
              <div class="col-3 col-xl-2">
                <div class="commerce-profile-image rounded-circle" style = "background:url('/{{request.user.profile.image}}'); background-size:cover"></div>
              </div>
              <div class="d-block col-9">
                <p class='my-0 px-3'>{{request.user.first_name}}</p>
                <small class='px-3 d-block'>1 Property Listed</small>
              </div>
            </div>
            <div class="">
              <a href = '/user/listing-options' class='btn btn-primary btn-sm mt-2 btn-block' type="button" name="button"><i class='fas fa-plus mx-2'></i>List Property</a>
              <button class='btn btn-secondary btn-sm mt-2 mb-4 btn-block' type="button" name="button"><i class='fas fa-eye mx-2'></i>View Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include 'footer.html' %}
{% endblock %}