{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
    <div class = 'container mx-atuo py-5'>
        <div class = 'container inbox-container px-2 px-lg-5 col-12 col-lg-8 py-4 rounded border'>
            <div class = my-3>
                <a class ='selling m-type mx-2 {{activate_selling}}' href="/user/inbox/">Selling</a>
                <a class ='buying m-type mx-2 {{activate_buying}}' href="/user/inbox_buying">Buying</a>
            </div>
            {% for r,v in room.items %}
            <a class = 'inbox-link d-block my-3' href="/user/chat/{{v.0.reply_on.id}}/{{r.person_2.id}}">
                <div class = 'chat-container border rounded shadow py-2 px-2 d-flex'>
                    <div class = 'on-property-image rounded-circle' style = "background: url('/{{r.person_2.profile.image}}'); background-size: cover;"></div>
                    <div class = 'on-texts mx-2'>
                        <p class = 'm-0 font-weight-bold'>{{r.person_2.first_name}}</p>
                        {% for m in v %}
                        {% if forloop.last %}
                        {% if m.sender == request.user %}
                        <small class ='d-block'>You: {{m.message}}</small>
                        {% else %}
                        <small class ='d-block'>{{m.message}}</small>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% include "footer.html" %}
{% endblock %}