{% for h in home %}
        <div class="row rounded my-3 border">
            <div class="col-lg-5 col-md-5">
                <div class="gkl py-2">
                    <div class = 'hostel-image rounded' style = 'background: url("/{{h.image1}}"); background-size: cover; background-position: center;'></div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <a class = 'nav-link text-secondary font-weight-bold p-0 m-0 mt-2' href="#">{{h.title}}</a>
                <div class = "m-0" style='font-size: .6em;'>
                    <small><i class = 'fas fa-star text-warning'></i></small>
                    <small><i class = 'fas fa-star text-warning'></i></small>
                    <small><i class = 'fas fa-star text-warning'></i></small>
                    <small><i class = 'far fa-star text-warning'></i></small>
                    <small><i class = 'far fa-star text-warning'></i></small>
                </div>
                <small class = 'p-0 d-block' style='font-size: .7em;'>Listed By - {{h.user.first_name}}</small>
                <small class = 'p-0 d-block' style='font-size: .7em;'><i class = 'fas fa-map-marker-alt mr-2'></i>{{h.address}}</small>
                <small class = 'p-0 d-block' style='font-size: .7em;'><i class = 'fas fa-phone mr-2'></i>{{h.user.profile.phone}}</small>
                <small class = 'p-0 d-block' style='font-size: .7em;'><i class = 'fas fa-envelope mr-2'></i>{{h.user.email}}</small>
                <small class = 'd-block my-3'>{{h.description}}</small>
                <div class = 'features'>
                    {% if h.services.internet %}
                    <small class = 'text-success small col-md-4 col-sm-4 my-1'> <i class = 'fas fa-wifi mr-1'></i>Internet</small>
                    {% endif %}
                    {% if  h.services.parking %}
                    <small class = 'text-success small col-md-4 col-sm-4 my-1'> <i class = 'fas fa-car mr-1'></i>Parking</small>
                    {% endif %}
                    {% if  h.services.water %}
                    <small class = 'text-success small col-md-4 col-sm-4 my-1'> <i class = 'fas fa-faucet mr-1'></i>24/7 Water</small>
                    {% endif %}
                </div>
                <a class = 'btn btn-sm btn-primary mb-2 mt-4 hostel-view' href="/house/details/{{h.id}}">View Detail</a>
            </div>
        </div>
        {% endfor %}