<nav class="navbar navbar-expand-lg navbar-light border bg-light">
  <!-- logo -->
  <div class="logo d-flex">
    <div class="icon mt-2">
      <i class='fas fa-home'></i>
    </div>
    <div class="split bg-dark mt-3 mx-3"></div>
    <div class="title">
      <p class='mt-2'>Home<span>Point</span></p>
    </div>
  </div>
  <!-- logo -->
  <button class="fas fa-bars d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link {{active_home}}" href="/">Home</a>
      <a class="nav-item nav-link {{activate_hostel}}" href="/hostels/hostels">Hostels</a>
      <a class="nav-item nav-link {{activate_flats}}" href="/house/flats/Flat">Flats</a>
      <a class="nav-item nav-link" href="#">Hotels</a>
      <a class="nav-item nav-link {{activate_rooms}}" href="/house/rooms/Single Room">Rooms</a>
      <a class="nav-item nav-link" href="#">Contacts</a>
      <a class="nav-item nav-link" href="#">Teams</a>
    </div>
    <hr>
    <div class="navbar-nav ml-auto">
      <div class="">
        {% if request.user.is_authenticated %}
        <div class = 'd-flex'>
          <button onclick="dark()" class='btn fas fa-moon text-secondary' type="button" name="button"></button>

          <div id="notifi" class = ''>
            <button class="btn notifiction_btn "><i class="fas fa-bell"></i> <span class="">0</span> </button>
  
              <!-- <button class='btn text-secondary d-flex m-0' id="drop-btn">
                <i class='fas fa-bell'></i><span class = 'not-count bg-danger d-block p-2 text-center rounded-circle text-light'>0</span></button> -->
          </div>
          <a href='/user/dashboard' class="profile-image rounded-circle mt-1 mx-2" style="background:url('/{{request.user.profile.image}}'); background-size:cover"></a>
          <a class='btn btn-outline-dark rounded mx-2 mr-5' href="/accounts/logout">Logout</a>
        </div>
        <div class = 'n-box  border shadow rounded mt-2 bg-light'>
          <p class = 'mx-4 mt-2'>Notifications</p>
          <hr>
          <div class = 'n-content'> 

          </div>
          <a class = 'text-right d-block px-4' href=""><i class = 'fas fa-eye mr-1'></i><small>See All</small></a>
        </div>
        <script>
          document.querySelector('.notifiction_btn').onclick = function(){
            console.log('ajddsna');
            document.querySelector('.n-box').classList.toggle('n-box-toggle');
          }
        </script>

        {% else %}
        <div class ='d-flex'>
          <a class='nav-link' href="/accounts/login">Login</a>
          <a class='btn btn-primary rounded mx-5' href="/accounts/register">Sign Up</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <script>
        $(document).ready(function(){
            $.ajax({
                type: 'GET',
                url: "/notifications/",
                dataType: "json",
                success: function (data) {
                  d = data.notifications
                  for(i=0; i<d.length; i++){
                      notification = d[i][1]
                      line = ``
                      line += `<div class = 'px-4 text-secondary'>`
                      // line += `<div class="mt-2 mx-2 n-image rounded-circle" style = "background: url("`+d[i][2]+`"); background-size:cover;"></div>`
                      line += `<p class = 'n-text m-0'>`+ `<strong>`+d[i][0]+`</strong>` + notification + `</p>`
                      line += `<small class = 'd-block mt-1 n-subject'>` + d[i][3] + `</small>`
                      line += `<small><small class = 'm-0'>` + d[i][2] + `</small></small>`
                      line += `<hr>`
                      line += `</div>`
                      $('.n-content').append(line)
                  }
                },
                error: function (error) {
                    alert('error')
                }
            })
        })   
  </script>
</nav>